# Dependencies
node_modules/
.venv/
venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment Variables
.env
.env.local
.env.*.local

# Build outputs
dist/
build/
*.egg-info/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Project specific
backend/uploads/
frontend/preview/
